<h1>Professor</h1>
<%= form_with model: @professor, url: sign_up_professor_path do |form_professor| %>
<%= fields_for :usuario do |form_usuario| %>
        <div>
            <%= form_usuario.label :nome %><br>
            <%= form_usuario.text_field :nome %>
        </div>

        <div>
            <%= form_usuario.label :email %><br>
            <%= form_usuario.text_field :email %>
        </div>

        <div>
            <%= form_usuario.label :matricula %><br>
            <%= form_usuario.text_field :matricula %>
        </div>

        <div>
            <%= form_usuario.label :telefone %><br>
            <%= form_usuario.text_field :telefone %>
        </div>

        <div>
            <%= form_usuario.label :senha %><br>
            <%= form_usuario.text_field :senha %>
        </div>
    <% end %>
    <div>
        <%= form_professor.label :centro %><br>
        <%= form_professor.text_field :centro %>
    </div>
    <br>
    <%= form_professor.submit%>
<% end %>