<%= stylesheet_link_tag 'login' %>
<div id="fundo-tela">
    <div id="fundo-login">
        <div id="logo">
            <%= image_tag('logo_uenf.svg') %>
        </div>
        <h3 id="titulo-login">Atividades Curriculares de Extensão</h3>
        <% if @login_erro %>
            <div id="erro">E-mail ou senha incorreto</div>
            <% @login_erro = false%>
        <%end%>
        <%= form_with url: sign_in_path do |form|%>
        <div id="field-email">
            <%= form.text_field :email,placeholder: "E-mail"%>
        </div>
        <div id="field-senha">
            <%= form.password_field :password,placeholder: "Senha"%><br>
        </div>
        <div id="links-wrapper">
            <%= link_to "Esqueceu sua senha?", password_reset_path, class: "link" %>
            <div id="cadastro">Não possui conta? <%= link_to "Cadastre-se", sign_up_path, class: "link" %></div>
        </div>
        <div id="btn-wrapper"><%= form.submit "Entrar", id: "btnEntrar"%></div>
    <%end%>
    </div>
</div>
