<%= render partial: "/public/nav_bar" %>

<div>
    ACEI: <%=Current.usuario.userable.horas_I%>
</div>

<div>
    ACEI: <%=Current.usuario.userable.horas_II%>
</div>

<div>
 ACEI: <%=Current.usuario.userable.horas_III%>
</div>

<div>
    ACEI: <%=Current.usuario.userable.horas_IV%>
</div>