<%= render partial: '/public/nav_bar'%>
<h1 id="titulo-home">Bem Vindo, <%=Current.usuario.userable_type.downcase%>!</h1>
<h2 id="sub-titulo-home">Suas atividades: </h2>
<div class="atividades-wrapper">
  <% @atividades.each do |atividade| %>
      <div class="atividade-wrapper" onclick="window.location.href='<%=atividade_path(id: atividade.id)%>'">
        <h2 id="titulo-atividade"><%=atividade.titulo%></h2>
        <p id="descricao"><%= atividade.descricao %></p>  
      </div>
  <%end%>
</div>
<%= render partial: '/public/footer'%>