<h1>Altualizar a senha</h1>
<%= form_with model: Current.usuario, url: password_path do |form| %>
    <div>
        <%= form.label :password, "Nova senha" %><br>
        <%= form.password_field :password %>
    </div>
    <div>
        <%= form.label :password_confirmation, "Confirmação da Senha"%><br>
        <%= form.password_field :password_confirmation %>
    </div>
    <%= form.submit "Atualizar" %>

<%end%>