<%=stylesheet_link_tag "cadastro_atividades"%>
<%= render partial: "/public/nav_bar" %>
<div id="fundo-tela">
    <div id="fundo-cadastro">
        <h1 id="titulo-login">Cadastro de Atividades</h1>
        <div class="linha-wrapper">
            <hr id="linha-azul">
        </div>
        <%= form_with model: @atividade, url: atividade_cadastro_path do |form| %>
        <div>
            <%=form.label :titulo%>
            <%=form.text_field :titulo%>
        </div>
        <div>
            <%=form.label :descricao, "Descrição"%>
            <%=form.text_area :descricao%>
        </div>
        <div>
            <label for="atividade_modalidade">Modalidade</label>
            <select name="atividade[modalidade]" id="atividade_modalidade">
                <option value="" selected="selected">Selecione</option>
                <option value="1">I</option>
                <option value="2">II</option>
                <option value="3">III</option>
                <option value="4">IV</option>
            </select>
        </div>
        <div id="abc">
            <label for="atividade_tipo">Tipo</label>
            <select name="atividade[tipo]" id="atividade_tipo">
                <option value="">--------</option>
            </select>
        </div>
        <div >
            <label for="atividade_alunos">Aluno</label>
            <div id="alunos">
                <input multiple="true" type="text" name="atividade[alunos][]" id="atividade_alunos"> 
            </div>
            <button type="button" id="btnAluno">Adicionar Aluno</button>
        </div>
            <%=form.submit "Cadastrar"%>
        <% end %>
    </div>
</div>
<script>
    const selectModalidade = document.querySelector("#atividade_modalidade")
    const btnAluno = document.querySelector("#btnAluno")
    const divTipo = document.querySelector("#abc")
    const divAlunos = document.querySelector("#alunos")
    const tipos = {
        1: [["Participação em projetos de extensão ligados à matriz curricular.", "colaboracao"], ["Contribuição em projetos isolados cadastrados na PROEX.", "contribuicao"]], 
        2:[["Organização de eventos educacionais presenciais e remotos.", "coordenacao"], ["Engajamento em atividades de popularização científica.", "divulgacao"],["Colaboração em comissões de campanhas sociais e programas comunitários.", "participacao"],["Participação em Comissão organizadora de Campanhas ou programas sociais.", "organizacao"]],
        3: [["Capacitação de professores da rede pública.", "formacao"], ["Apoio em aulas de reforço escolar supervisionadas.", "auxilio"], ["Assessoria e consultoria para públicos-alvo específicos.", "orientacao"], ["Atendimento ao público em espaços culturais e científicos.", "interatividade"], ["Contribuição na produção de conteúdo sociocultural e científico-tecnológico.", "criacao"]]
    }
    selectModalidade.addEventListener("change",(e)=>{
        divTipo.innerHTML = ""
        if(e.target.value != 4){
            let labelTipo = document.createElement("label")
            let selectTipo = document.createElement("select")
            let divInputTipo = document.createElement("div")
            labelTipo.for = "atividade_tipo"
            labelTipo.innerHTML = "Tipo"
            selectTipo.id ="atividade_tipo"
            selectTipo.name = "atividade[tipo]"
            divInputTipo.append(labelTipo,selectTipo)
            tipos[e.target.value].forEach(element => {
                let op = document.createElement("option")
                op.value = element[1]
                op.innerText = element[0]
                selectTipo.appendChild(op)
            });
            divTipo.append(divInputTipo)
        }else{
            let divInputTipo = document.createElement("div")
            let divInputHora = document.createElement("div")
            let inputTipo = document.createElement("input")
            let inputHora = document.createElement("input")
            let labelTipo = document.createElement("label")
            let labelHora = document.createElement("label")
            labelTipo.for = "atividade_tipo"
            labelTipo.innerHTML = "Tipo"
            inputTipo.id = "atividade_tipo"
            inputTipo.name = "atividade[tipo]"
            labelHora.for = "atividade_carga_horaria"
            labelHora.innerHTML = "Carga horaria"
            inputHora.id = "atividade_carga_horaria"
            inputHora.name = "atividade[carga_horaria]"
            divInputTipo.append(labelTipo,inputTipo)
            divInputHora.append(labelHora,inputHora)           
            divTipo.append(divInputTipo,divInputHora)
        }
    })
    btnAluno.addEventListener("click",()=>{
        let inputAluno = document.createElement("input")
        inputAluno.name = "atividade[alunos][]"
        inputAluno.id = "atividade_alunos"
        inputAluno.multiple = "true"
        divAlunos.appendChild(inputAluno)
    })
    divAlunos.addEventListener("change",e=>{
        if (e.target.value === "" && divAlunos.childElementCount> 1){
            divAlunos.removeChild(e.target)
        }
        })
</script>