<%=stylesheet_link_tag "cadastro_atividades"%>
<div id="fundo-tela">
    <div id="fundo-cadastro">
        <h1 id="titulo-login">Cadastro de Atividade</h1>
        <div class="wrapper">
            <hr id="linha-azul">
        </div>
        <%= form_with model: @atividade, url: atividade_cadastro_path do |form| %>
        <div class="wrapper">
            <%=form.text_field :titulo, placeholder: "Título", class: "text-input"%>
        </div>
        <div class="wrapper">
            <%=form.text_area :descricao, placeholder: "Descrição",class: "text-input"%>
        </div>
        <div class="wrapper">
            <div>
                <select class="text-input" name="atividade[modalidade]" id="atividade_modalidade">
                    <option value="" selected">Modalidade</option>
                    <option value="1">Projetos e Programas</option>
                    <option value="2">Cursos e Eventos</option>
                    <option value="3">Prestação de Serviços</option>
                    <option value="4">Disciplinas Extensionista</option>
                </select>
            </div>
            <div id="abc">
                <select class="text-input" name="atividade[tipo]" id="atividade_tipo">
                    <option value="" selected">Tipo</option>
                </select>
            </div>
        </div>
        <div class="wrapper">
            <div id="alunos">
                <input class="text-input" placeholder="Matricula do Aluno" multiple="true" type="text" name="atividade[alunos][]" id="atividade_alunos"> 
            </div> 
        </div>
        <div class="wrapper">
            <div class="button-wrapper">
                <button type="button" id="btnAluno">Adicionar Aluno</button>
                <button type="button" id="rmvAluno">Remover Aluno</button>
            </div>
        </div>
        
        <div class="wrapper">
            <%=form.submit "Cadastrar", id: "btnCadastrar"%>
        </div>
        <% end %>
    </div>
</div>
<script>
    const selectModalidade = document.querySelector("#atividade_modalidade")
    const btnAluno = document.querySelector("#btnAluno")
    const btnRmvAluno = document.querySelector("#rmvAluno")
    const divTipo = document.querySelector("#abc")
    const divAlunos = document.querySelector("#alunos")
    const tipos = {
        1: [["Participação em projetos de extensão ligados à matriz curricular.", "colaboracao"], ["Contribuição em projetos isolados cadastrados na PROEX.", "contribuicao"]], 
        2:[["Organização de eventos educacionais presenciais e remotos.", "coordenacao"], ["Engajamento em atividades de popularização científica.", "divulgacao"],["Colaboração em comissões de campanhas sociais e programas comunitários.", "participacao"],["Participação em Comissão organizadora de Campanhas ou programas sociais.", "organizacao"]],
        3: [["Capacitação de professores da rede pública.", "formacao"], ["Apoio em aulas de reforço escolar supervisionadas.", "auxilio"], ["Assessoria e consultoria para públicos-alvo específicos.", "orientacao"], ["Atendimento ao público em espaços culturais e científicos.", "interatividade"], ["Contribuição na produção de conteúdo sociocultural e científico-tecnológico.", "criacao"]]
    }
    selectModalidade.addEventListener("change",(e)=>{
        divTipo.innerHTML = ""
        let selectTipo = document.createElement("select")
        let divInputTipo = document.createElement("div")
        selectTipo.id ="atividade_tipo"
        selectTipo.name = "atividade[tipo]"
        selectTipo.classList.add("text-input")
        divInputTipo.append(selectTipo)
        if (e.target.value == ""){
            let op = document.createElement("option")
            op.innerText = "Tipo"
            selectTipo.appendChild(op)
            divTipo.append(divInputTipo)
        }else{
            if(e.target.value != 4){
                tipos[e.target.value].forEach(element => {
                    let op = document.createElement("option")
                    op.value = element[1]
                    op.innerText = element[0]
                    selectTipo.appendChild(op)
                });
                divTipo.append(divInputTipo)
            }else{
                let divInputTipo = document.createElement("div")
                let divInputHora = document.createElement("div")
                let inputTipo = document.createElement("input")
                let inputHora = document.createElement("input")
                inputTipo.id = "atividade_tipo"
                inputTipo.classList.add("text-input")
                inputTipo.placeholder = "Disciplina"
                inputTipo.name = "atividade[tipo]"
                inputHora.id = "atividade_carga_horaria"
                inputHora.placeholder = "Carga Horária"
                inputHora.classList.add("text-input")
                inputHora.name = "atividade[carga_horaria]"
                divInputTipo.append(inputTipo)
                divInputHora.append(inputHora)           
                divTipo.append(divInputTipo,divInputHora)
            }
        }
    })
    btnAluno.addEventListener("click",()=>{
        let inputAluno = document.createElement("input")
        inputAluno.name = "atividade[alunos][]"
        inputAluno.id = "atividade_alunos"
        inputAluno.multiple = "true"
        inputAluno.classList.add("text-input")
        inputAluno.placeholder = "Matricula do Aluno"
        divAlunos.appendChild(inputAluno)
        btnRmvAluno.style.display = "block"
    })
    btnRmvAluno.addEventListener("click",()=>{
        if (divAlunos.childElementCount > 1){
            divAlunos.removeChild(divAlunos.lastChild)
            btnRmvAluno.style.display = divAlunos.childElementCount == 1 ? "none":"block"
        }
        })

</script>