<%@professor = Professor.new%>
        <%@professor.usuario = Usuario.new%>
        <%= form_with model: @professor, url: "/sign_up/professor",id:"formP" do |form_professor| %>
        <%= fields_for :usuario do |form_usuario| %>
                <div class="wrapper">
                    <%= form_usuario.text_field :nome , class:"text-input", placeholder:"Nome Completo"%>
                </div>
        
                <div class="wrapper">
                    <%= form_usuario.text_field :email , class:"text-input", placeholder:"E-mail"%>
                </div>
        
                <div class="wrapper">
                    <%= form_usuario.text_field :matricula, class:"text-input", placeholder:"Matricula" %>
                </div>
        
                <div class="wrapper">
                    <%= form_usuario.text_field :telefone, class:"text-input", placeholder:"Telefone" %>
                </div>
        
                <div class="wrapper">
                    <%= form_usuario.password_field :password, class:"text-input", placeholder:"Senha" %>
                </div>
                <div class="wrapper">
                    <%= form_usuario.password_field :password_confirmation, class:"text-input", placeholder:"Confirmação da senha" %>
                </div>
            <% end %>
            <div class="wrapper">
                <%= form_professor.text_field :centro, class:"text-input", placeholder:"Centro"%>
            </div>
            <div class="wrapper">
                <%= form_professor.submit "Cadastrar", id: "btnCadastrar" %>
            </div>
        <% end %>