<!DOCTYPE html>
<html>
  <head>
    <title>PooTrabalho</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "index" %>
  </head>

  <body>
    <%= yield %>
    <div class="footer">
      <div class="footer-text">Universidade Estadual Norte Fluminese Darcy Ribeiro</div>
      <div class="footer-text">Projeto da Matéria Programação Orientada a Objetos - 2023</div>
      <div class="footer-text">Desenvolvido por: Caio, Hudson, Ian, Jomacry e Ricardo</div>
    </div>
  </body>
</html>
